.register {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

form {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 0px 50px;
    padding-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    padding: 20px 18px;
    color: #2563eb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-link{
     margin-top: 50px;
    font-size: 14px;
    margin-left: 15px;
    
}
.regiSubmit {

    top: 25px;
    left: 193px;
    width: 180px;

}